{% extends 'restaurant/base.html' %}
{% load my_tags %}
{% block content %}

<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <div class="col-12-md-3 mb-2 mb-md-0">
        <a href="{% url 'restaurant:home' %}" class="navbar-brand d-flex align-items-center">
          <strong>Черная жемчужина</strong>
        </a>
      </div>

      <ul class="nav col-6 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#1" class="nav-link px-2">О нас</a></li>
        <li><a href="#2" class="nav-link px-2">Меню</a></li>
        <li><a href="{% url 'restaurant:booking_create' %}" class="nav-link px-2">Забронировать</a></li>
        <li><a href="#3" class="nav-link px-2">Контакты</a></li>
      </ul>

      <div class="col-6-md-3 text-end">
        {% if user.is_authenticated %}
        <a class="btn btn-outline-primary me-2" href="{% url 'users:profile' %}" role="button">Профиль</a>
        <a class="btn btn-primary me-2" href="{% url 'restaurant:booking_list' %}" role="button">Мои бронирования</a>
        <a class="btn btn-danger" href="{% url 'users:logout' %}" role="button">Выйти</a>
        {% else %}
        <a class="btn btn-outline-primary me-2" href="{% url 'users:login' %}" role="button">Войти</a>
        <a class="btn btn-primary" href="{% url 'users:register' %}" role="button">Зарегистрироваться</a>
        {% endif %}
      </div>
    </header>
</div>

<div class="container">
    <h1 class="fw-light mb-4 text-center">Черная жемчужина</h1>
    <div class="card shadow-sm">
        <img src="/media/images/заставка.jpg">
    </div>
    <div class="container mt-4">
        <div id="1">
            <div class="card-body">
                <p class="card-text">Наш ресторан один из самых атмосферных ресторанов полуострова Бодрум!
                    Расположен на берегу эгейского моря в красивейшей бухте Гюмюшлюк. Наслаждаясь прекрасным
                    ужином, здесь можно наблюдать поистине волшебные морские закаты!
                    В меню ресторана блюда из свежей рыбы и морепродуктов, отменные турецкие закуски и салаты.
                    Кроме гастрономических достоинств, нужно отметить великолепную обстановку, приветливый персонал
                    и качественное обслуживание. Милые белые столики, застеленные синей скатертью, расположены
                    на песчаном берегу у самой кромки воды. Заведение утопает в зелени и ярких цветах бугенвиллиях.
                    Словно маленькие разноцветные огоньки, ресторан украшают традиционные бодрумские лампы из тыквы.
                    В услуги нашего ресторана входит: организация частных мероприятий, свадебных торжеств, кейтеринг.</p>
            </div>
        </div>
    </div>
    <div class="container mt-4">
        <div id="2">
            <h1 class="text-center mb-4">Меню</h1>
            <img src="/media/images/Меню.jpg">
        </div>
    </div>
    <div class="container">
        <div id="3">
        <h1 class="text-center mt-4 mb-4">Контакты</h1>
            <div class="col-12">
                <div class="row">
                    <div class="col-4">
                        <div class="card mb-4 box-shadow">
                            <h6 class="text-center">Наш адрес:</h6>
                            <p class="card-text text-center">Гюмюшлюк Бодрум Турция</p>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card mb-4 box-shadow">
                            <a href="{% url 'restaurant:contacts' %}" class="nav-link px-2 text-center">Напишите нам</a>
                        </div>
                    </div>
                     <div class="col-4">
                        <div class="card mb-4 box-shadow">
                            <p class="card-text text-center">Телефон: +90 111 111 1111</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

