{% extends 'restaurant/base.html' %}
{% load my_tags %}
{% block content %}

<div class="container">
    <h1 class="fw-light mb-4 text-center">Черная жемчужина</h1>
    <div class="card shadow-sm">
        <img src="/media/images/заставка.jpg">
    </div>
    <div class="container mt-4">
        <div id="1">
            <div class="card-body">
                <p class="card-text">Наш ресторан один из самых атмосферных ресторанов полуострова Бодрум!
                    Расположен на берегу эгейского моря в красивейшей бухте Гюмюшлюк. Наслаждаясь прекрасным
                    ужином, здесь можно наблюдать поистине волшебные морские закаты!
                    В меню ресторана блюда из свежей рыбы и морепродуктов, отменные турецкие закуски и салаты.
                    Кроме гастрономических достоинств, нужно отметить великолепную обстановку, приветливый персонал
                    и качественное обслуживание. Милые белые столики, застеленные синей скатертью, расположены
                    на песчаном берегу у самой кромки воды. Заведение утопает в зелени и ярких цветах бугенвиллиях.
                    Словно маленькие разноцветные огоньки, ресторан украшают традиционные бодрумские лампы из тыквы.</p>
                <h4 class="card-text text-center">В услуги нашего ресторана входит:</h4>
                <p class="card-text text-center">1. Бронирование столов</p>
                <p class="card-text text-center">2. Организация частных мероприятий и свадебных торжеств.:</p>
                <p class="card-text text-center">3. Kейтеринг.</p>
                <p class="card-text text-center">4. Доставка на дом</p>
                <p class="card-text text-center">5. Бесплатный WiFi</p>
            </div>
        </div>
    </div>
    <div class="container mt-4">
        <h2 class="text-center mb-4">Наша команда</h2>
        <div class="col-12">
            <div class="row">
                <div class="col-4">
                    <div class="card mb-4 box-shadow">
                        <img src="/media/images/сотрудник5.jpeg">
                    </div>
                </div>
                <div class="col-4">
                    <div class="card mb-4 box-shadow">
                        <img src="/media/images/сотрудник2.jpeg">
                    </div>
                </div>
                <div class="col-4">
                    <div class="card mb-4 box-shadow">
                        <img src="/media/images/сотрудник3.jpeg">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-4">
        <div id="2">
            <h1 class="text-center mb-4">Меню</h1>
            <img src="/media/images/Меню.jpg">
        </div>
    </div>
    <div class="container">
        <div id="3">
        <h1 class="text-center mt-4 mb-4">Контакты</h1>
            <div class="col-12">
                <div class="row">
                    <div class="col-4">
                        <div class="card mb-4 box-shadow">
                            <h6 class="text-center">Наш адрес:</h6>
                            <p class="card-text text-center">Гюмюшлюк Бодрум Турция</p>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card mb-4 box-shadow">
                            <a href="{% url 'restaurant:contacts' %}" class="nav-link px-2 text-center">Напишите нам</a>
                        </div>
                    </div>
                     <div class="col-4">
                        <div class="card mb-4 box-shadow">
                            <p class="card-text text-center">Телефон: +90 111 111 1111</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

