{% extends 'restaurant/base.html' %}
{% load my_tags %}
{% block content %}

<div class="container">
    <div class="col-12">
        <div class="row">
             <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-text text-center">Личный кабинет</h4>
                    </div>
                    {% for object in object_list %}
                    <img src="{{ object.image | media_filter }}">
                    <div class="card-body">
                        <p class="card-text">Имя: {{ object.first_name }}</p>
                        <p class="card-text">Фамилия: {{ object.last_name }}</p>
                        <p class="card-text">Email: {{ object.email }}</p>
                        <p class="card-text">Номер телефона: {{ object.phone_number }}</p>
                        <a class="btn btn-primary" href="{% url 'users:profile_edit' %}" role="button">Редактировать профиль</a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<!--<div class="container">-->
<!--    <form class="row" method="post" enctype="multipart/form-data">-->
<!--        <div class="col-6">-->
<!--            <div class="card">-->
<!--              <h3 class="card-title">-->
<!--                        Профиль-->
<!--              </h3>-->
<!--                <div class="card-body">-->
<!--                    {% csrf_token %}-->
<!--                    {{ form.as_p }}-->
<!--                </div>-->
<!--                 <button type="submit" class="btn btn-primary mb-2 form-control">-->
<!--                     Сохранить-->
<!--                 </button>-->
<!--            </div>-->
<!--        </div>-->
<!--    </form>-->
<!--</div>-->
{% endblock %}
