{% extends 'restaurant/base.html' %}
{% load my_tags %}
{% block content %}

<div class="container">
    <div class="card">
        <div class="card-header mb-2">
            <h4 class="card-text text-center">Мой профиль</h4>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-6">
                    <p class="card-text">Имя: {{ user.first_name }}</p>
                    <p class="card-text">Фамилия: {{ user.last_name }}</p>
                    <p class="card-text">Email: {{ user.email }}</p>
                    <p class="card-text">Номер телефона: {{ user.phone_number }}</p>
                </div>
                <div class="col-4">
                    <div class="card">
                        <img src="{{ user.avatar | media_filter }}">
                    </div>
                </div>
                <a class="btn btn-primary ml-2 mr-2 mb-2" href="{% url 'users:profile_update' %}" role="button">Редактировать профиль</a>
                <a class="btn btn-primary mb-2" href="{% url 'restaurant:booking_list' %}" role="button">Мои бронирования</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

