{% extends 'restaurant/base.html' %}
{% block content %}
<div class="container">
    <form class="row" method="post" enctype="multipart/form-data">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    {% csrf_token %}
                    {{ form.as_p }}
                </div>
                 <button type="submit" class="btn btn-primary mb-2 form-control">
                     Сохранить
                 </button>
                <a class="btn btn-primary form-control mr-2" href="{% url 'users:profile' %}" role="button">Назад</a>
            </div>
        </div>
    </form>
</div>
{% endblock %}

